<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoリスト</title>
</head>

<body>
    <h2>ToDoリスト</h2>
    <form th:action="@{/create-task}" th:object="${taskForm}" method="post">
        やること：<input type="text" th:field="*{text}">
        <input type="submit" value="送信">
    </form>

    <table border="1" cellpadding="5">
        <tr th:each="obj: ${list}">
            <td th:text="${obj.text}"></td>
            <td>
                <a th:href="@{/delete/(id=${obj.id})}">削除</a>
            </td>          
        </tr>
    </table>
</body>

</html>